@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Tin nhắn";
    var messageHistory = ViewData["historyChat"] as QuanLyLopHoc.Models.DAO.MessageHistory;
}
<div class="h-screen">
    <div class="flex flex-row w-full">
        <div class="relative h-screen 2xl:w-96 xl:w-1/4 bg-white md:w-96 w-full border">
            <div class="h-20 bg-white shadow-md">
                <div class="flex flex-row items-center p-3">
                    <div class="relative">
                        <button id="back" type="button" onclick="stopsearch()"
                                class="hidden text-white border bg-gray-500 hover:bg-gray-800 focus:ring-4 focus:outline-none focus:ring-gray-300 font-medium rounded-full text-sm p-2.5 text-center items-center">
                            <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="1.5" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M10.5 19.5L3 12m0 0l7.5-7.5M3 12h18"></path>
                            </svg>
                        </button>
                    </div>
                    <div class="relative items-center justify-center w-full px-2">
                        <div class="absolute inset-y-0 left-0 flex items-center pl-5 pointer-events-none">
                            <svg aria-hidden="true"
                                 class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="none"
                                 stroke="currentColor" viewBox="0 0 24 24"
                                 xmlns="http://www.w3.org/2000/svg">
                                <path stroke-linecap="round" stroke-linejoin="round"
                                      stroke-width="2"
                                      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"></path>
                            </svg>
                        </div>
                        <input class="block w-full p-3 pl-10 text-sm text-gray-900 border border-gray-300 rounded-full bg-gray-50 focus:ring-blue-500 focus:border-blue-500"
                               type="text" name="search" id="search" onclick="whensearch()"
                               placeholder="Search">
                    </div>
                </div>
            </div>
            <div class="flex flex-col h-[calc(100%-5rem)] overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch">

                <div class="flex flex-col">
                    <ul class="mt-auto divide-y divide-gray-200" id="users">
                        <li id="user1" class="border p-2 hover:bg-gray-100">
                            <a href="/Message/?id=user1"
                               class="flex flex-row ">
                                <div class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                    <span class="font-medium text-gray-600 dark:text-gray-300">JL</span>
                                </div>
                                <div class="pl-1">
                                    <p class="text-base text-gray-950">User1</p>
                                    <p class="text-sm text-gray-500">
                                        <span class="mr-1">User:</span>message
                                    </p>
                                </div>
                            </a>

                        </li>
                        <li id="user2" class="border p-2 hover:bg-gray-100">
                            <a href="https://localhost:7080/Message/#"
                               class="flex flex-row ">
                                <div class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                    <span class="font-medium text-gray-600 dark:text-gray-300">AA</span>
                                </div>
                                <div class="pl-1">
                                    <p class="text-base text-gray-950">User2</p>
                                    <p class="text-sm text-gray-500">
                                        <span class="mr-1">User:</span>message
                                    </p>
                                </div>
                            </a>

                        </li>
                        <li id="user3" class="border p-2 hover:bg-gray-100">
                            <a href="https://localhost:7080/Message/#"
                               class="flex flex-row ">
                                <div class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                    <span class="font-medium text-gray-600 dark:text-gray-300">AB</span>
                                </div>
                                <div class="pl-1">
                                    <p class="text-base text-gray-950">User3</p>
                                    <p class="text-sm text-gray-500">
                                        <span class="mr-1">User:</span>message
                                    </p>
                                </div>
                            </a>

                        </li>
                        <li id="user4" class="border p-2 hover:bg-gray-100">
                            <a href="https://localhost:7080/Message/#"
                               class="flex flex-row ">
                                <div class="relative inline-flex items-center justify-center w-10 h-10 overflow-hidden bg-gray-100 rounded-full dark:bg-gray-600">
                                    <span class="font-medium text-gray-600 dark:text-gray-300">JB</span>
                                </div>
                                <div class="pl-1">
                                    <p class="text-base text-gray-950">User4</p>
                                    <p class="text-sm text-gray-500">
                                        <span class="mr-1">User:</span>message
                                    </p>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <ul class="mt-auto divide-y divide-gray-200" id="result">
                        <div class="flex justify-center">
                            <div id="loading" class="py-3">
                                <div aria-label="Loading..." role="status"
                                     class="flex items-center space-x-2">
                                    <svg class="h-6 w-6 animate-spin stroke-gray-500"
                                         viewBox="0 0 256 256">
                                        <line x1="128" y1="32" x2="128" y2="64"
                                              stroke-linecap="round" stroke-linejoin="round"
                                              stroke-width="24"></line>
                                        <line x1="195.9" y1="60.1" x2="173.3" y2="82.7"
                                              stroke-linecap="round" stroke-linejoin="round"
                                              stroke-width="24"></line>
                                        <line x1="224" y1="128" x2="192" y2="128"
                                              stroke-linecap="round" stroke-linejoin="round"
                                              stroke-width="24"></line>
                                        <line x1="195.9" y1="195.9" x2="173.3" y2="173.3"
                                              stroke-linecap="round" stroke-linejoin="round"
                                              stroke-width="24"></line>
                                        <line x1="128" y1="224" x2="128" y2="192"
                                              stroke-linecap="round" stroke-linejoin="round"
                                              stroke-width="24"></line>
                                        <line x1="60.1" y1="195.9" x2="82.7" y2="173.3"
                                              stroke-linecap="round" stroke-linejoin="round"
                                              stroke-width="24"></line>
                                        <line x1="32" y1="128" x2="64" y2="128"
                                              stroke-linecap="round" stroke-linejoin="round"
                                              stroke-width="24"></line>
                                        <line x1="60.1" y1="60.1" x2="82.7" y2="82.7"
                                              stroke-linecap="round" stroke-linejoin="round"
                                              stroke-width="24"></line>
                                    </svg><span class="text-xs font-medium text-gray-500">Loading...</span>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
            </div>
        </div>
        <div class="ml-auto w-full ">
            @if (ViewData["id"] != null)
            {
                @Html.Partial("PartialChatting", messageHistory)
            }
        </div>
    </div>
</div>
@section Scripts{
    <script type="text/javascript" src="~/js/searchAJAX.js"></script>
}