@model IEnumerable<QuanLyLopHoc.Models.Entities.User>
@{
    Layout = "~/Views/Shared/_LayoutBlank.cshtml";
    var model = ViewData["listUser"] as List<QuanLyLopHoc.Models.Entities.User>;
}
@if (model != null)
{
    @foreach (var item in model)
    {
        <li class="pt-3 pb-0 sm:pt-4" >
            <a id="@Html.DisplayFor(modelItem=>item.Id)" class="flex items-center space-x-4" onclick="chatwith(this)" href="javascript:void(0);">
                <div class="flex-shrink-0">
                    <img class="w-8 h-8 rounded-full" src="/docs/images/people/profile-picture-4.jpg"
                         alt="Neil image">
                </div>
                <div class="flex-1 min-w-0">
                    <p class="text-sm font-medium text-gray-900 truncate ">
                        @Html.DisplayFor(modelItem => item.FirstName)  @Html.DisplayFor(modelItem => item.LastName)
                    </p>
                    <p class="text-sm text-gray-500 truncate ">
                        @Html.DisplayFor(modelItem => item.Email)
                    </p>
                </div>
                <div class="inline-flex items-center text-base font-semibold text-gray-900 ">
                    Tin nhắn mới
                </div>
            </a>
        </li>
    }
}
else
{
    <p>Không tìm thấy người dùng</p>
}
<script type="text/javascript" src="~/js/site.js"></script>
