@using QuanLyLopHoc.Models.Entities;
@model User
@{
    ViewData["Title"] = "Thêm thành viên"; 
    var subjectId = ViewData["subjectId"] as string;
}
<style>
    .scrollbar-w-2::-webkit-scrollbar {
        width: 0.5rem;
        height: 0.25rem;
    }

    .scrollbar-track-blue-lighter::-webkit-scrollbar-track {
        --bg-opacity: 1;
        background-color: #d8d8d8;
    }

    .scrollbar-thumb-blue::-webkit-scrollbar-thumb {
        --bg-opacity: 1;
        background-color: #5fafff;
    }

    .scrollbar-thumb-rounded::-webkit-scrollbar-thumb {
        border-radius: 0.25rem;
    }
</style>
<h1 class="text-2xl py-5 font-medium text-center">
    Thêm người vào lớp học
</h1>
<div>
    <fieldset class="max-w-2xl mx-4 sm:mx-auto my-4 border-solid p-3 border-2 shadow">
        <div class="m-5 backdrop-blur-sm bg-white/30">
            <label for="input-group-1"
                   class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Email</label>
            <div class="relative mb-6">
                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                    <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor"
                         viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                        <path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
                        <path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
                    </svg>
                </div>
                <input type="text" asp-for="Email" id="emailkey"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full pl-10 p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       placeholder="name@gmail.com" />
            </div>
            <div id="loading" class="py-3">
                <div aria-label="Loading..." role="status"
                     class="flex items-center space-x-2">
                    <svg class="h-6 w-6 animate-spin stroke-gray-500"
                         viewBox="0 0 256 256">
                        <line x1="128" y1="32" x2="128" y2="64"
                              stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="24"></line>
                        <line x1="195.9" y1="60.1" x2="173.3" y2="82.7"
                              stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="24"></line>
                        <line x1="224" y1="128" x2="192" y2="128"
                              stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="24"></line>
                        <line x1="195.9" y1="195.9" x2="173.3" y2="173.3"
                              stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="24"></line>
                        <line x1="128" y1="224" x2="128" y2="192"
                              stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="24"></line>
                        <line x1="60.1" y1="195.9" x2="82.7" y2="173.3"
                              stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="24"></line>
                        <line x1="32" y1="128" x2="64" y2="128"
                              stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="24"></line>
                        <line x1="60.1" y1="60.1" x2="82.7" y2="82.7"
                              stroke-linecap="round" stroke-linejoin="round"
                              stroke-width="24"></line>
                    </svg><span class="text-xs font-medium text-gray-500">Loading...</span>
                </div>
            </div>
            <div id="users" class="max-h-96 overflow-auto overflow-y-auto scrollbar-thumb-blue scrollbar-thumb-rounded scrollbar-track-blue-lighter scrollbar-w-2 scrolling-touch">
            </div>
        </div>

        <div class="m-5">
            <input type="hidden" id="subjectId" value="@subjectId">
        </div>

    </fieldset>
</div>
@section Scripts {
    <script src="~/js/addmember.js"></script>
    <script>
        function join(id1, id2, lb1, lb2, id, as) {
            var elm1 = document.getElementById(id1);
            var elm2 = document.getElementById(id2);
            var lb1 = document.getElementById(lb1);
            var lb2 = document.getElementById(lb2);
            elm2.classList.add('hidden');
            elm1.classList.add('hidden');
            lb1.classList.toggle('hidden');
            lb2.classList.add('hidden');
            var subjectId = document.getElementById('subjectId');
            console.log(subjectId.value);
            if (as == 'gv') {
                console.log("123");
                $.ajax({
                    type: "POST",
                    url: "/Subject/JoinasTeacher",
                    data: { userId: id, subjectId: subjectId.value },
                    datatype: "html",
                    success: function () {
                        console.log("is student now");
                    }
                });
            }
            else if (as == 'sv') {
                console.log("123");
                $.ajax({
                    type: "POST",
                    url: "/Subject/JoinClass",
                    data: { userId: id, subjectId: subjectId.value },
                    datatype: "html",
                    success: function () {
                        console.log("is student now");
                    }
                });
            }
        }

    </script>

}