@using QuanLyLopHoc.Models.Entities;
@model Subject


<head>
    <style>
        .tab-item.active {
            opacity: 1;
        }

        .tab-pane.active {
            display: block;
        }
    </style>
</head>
<body>
    <main class="m-4">
        <h1 class="text-center text-3xl font-medium my-4">@Model.SubjectName</h1>
        <div class="flex justify-evenly">
            <p>Người tạo:</p>
            <p>Ngày tạo: @Model.CreatedDate</p>
            <p>Số tín chỉ: @Model.Credit</p>
        </div>
        <div class="text-left my-4 w-3/4 mx-auto">
            <span class="text-xl font-normal">Mô tả:</span> <br />
            <p class="p-2 my-2 border rounded-lg border-gray-500">
                @Model.Description
            </p>
        </div>

        <div class="w-full h-full">
            <!-- Tab items -->
            <div class="tabs flex justify-center relative gap-2">
                <div class="tab-item px-5 pt-4 pb-5 text-lg text-center text-purple-700 bg-white rounded-t-md border-b-4 border-transparent opacity-60 cursor-pointer transition-all duration-500 hover:opacity-100 hover:bg-purple-100 hover:border-purple-400 active">
                    Danh sách sinh viên
                </div>
                <div class="tab-item px-5 pt-4 pb-5 text-lg text-center text-purple-700 bg-white rounded-t-md border-b-4 border-transparent opacity-60 cursor-pointer transition-all duration-500 hover:opacity-100 hover:bg-purple-100 hover:border-purple-400">
                    Bài đăng
                </div>
                <div class="tab-item px-5 pt-4 pb-5 text-lg text-center text-purple-700 bg-white rounded-t-md border-b-4 border-transparent opacity-60 cursor-pointer transition-all duration-500 hover:opacity-100 hover:bg-purple-100 hover:border-purple-400">
                    Điểm thành phần
                </div>
                <div class="line absolute left-0 bottom-0 w-0 h-1 bg-purple-700 transition-all duration-200"></div>
            </div>

            <!-- Tab content -->
            <div class="tab-content m-4">
                <div class="tab-pane hidden active">
                    <div class="relative overflow-x-auto shadow-md sm:rounded-lg my-6">
                        <h1 class="py-6 px-6 text-2xl font-medium">
                            Danh sách sinh viên
                        </h1>
                        <div class="bg-white dark:bg-gray-900 p-5 flex justify-between items-center">
                            <label for="table-search" class="sr-only">Search</label>
                            <div class="relative mt-1">
                                <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                    <svg class="w-5 h-5 text-gray-500 dark:text-gray-400"
                                         aria-hidden="true"
                                         fill="currentColor"
                                         viewBox="0 0 20 20"
                                         xmlns="http://www.w3.org/2000/svg">
                                        <path fill-rule="evenodd"
                                              d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z"
                                              clip-rule="evenodd"></path>
                                    </svg>
                                </div>
                                <input type="text"
                                       id="table-search"
                                       class="block p-2 pl-10 text-sm text-gray-900 border border-gray-300 rounded-lg w-80 bg-gray-50 focus:ring-blue-500 focus:border-blue-500 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                                       placeholder="Tìm kiếm sinh viên" />
                            </div>
                            <button type="button"
                                    class="focus:outline-none text-white bg-purple-700 hover:bg-purple-800 focus:ring-4 font-medium rounded-lg text-sm px-3 py-1 w-50 flex items-center">
                                <svg xmlns="http://www.w3.org/2000/svg" 
                                     fill="none" viewBox="0 0 24 24" 
                                     stroke-width="1.5" 
                                     stroke="currentColor" 
                                     class="w-5 h-5 m-2">
                                    >
                                    <path stroke-linecap="round" 
                                          stroke-linejoin="round" 
                                          d="M12 9v6m3-3H9m12 0a9 9 0 11-18 0 9 9 0 0118 0z" />
                                </svg>
                                Thêm người vào lớp học
                            </button>
                        </div>
                        <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                            <thead class="text-xs text-gray-700 uppercase dark:text-gray-400">
                                <tr>
                                    <th scope="col" class="px-6 py-3">
                                        Tên sinh viên
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Mã sinh viên
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Email
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Số điện thoại
                                    </th>
                                    <th scope="col" class="px-6 py-3">
                                        Tác vụ
                                    </th>
                                </tr>
                            </thead>
                            <tbody>

                                <tr class="border-b border-gray-200 dark:border-gray-700">
                                    <td scope="row"
                                        class="px-6 py-4 text-gray-900 whitespace-nowrap">
                                        Nguyễn Văn A
                                    </td>
                                    <td class="px-6 py-4">18150001</td>
                                    <td class="px-6 py-4">
                                        nguyenvanA@gmail.com
                                    </td>
                                    <td class="px-6 py-4">0914235132</td>
                                    <td class="px-6 py-4 flex">
                                        <a class="text-white bg-purple-700 hover:bg-purple-800 font-medium rounded-lg text-sm px-3 py-1 text-center inline-flex items-center mr-2">
                                            Chi tiết
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 fill="none"
                                                 viewBox="0 0 24 24"
                                                 stroke-width="1.5"
                                                 stroke="currentColor"
                                                 class="w-6 h-6 mx-1">
                                                <path stroke-linecap="round"
                                                      stroke-linejoin="round"
                                                      d="M4.5 12h15m0 0l-6.75-6.75M19.5 12l-6.75 6.75" />
                                            </svg>
                                        </a>
                                        <a href="#"
                                           class="text-white bg-purple-700 hover:bg-purple-800 font-medium rounded-lg text-sm px-3 py-1 text-center inline-flex items-center mr-2">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 fill="none"
                                                 viewBox="0 0 24 24"
                                                 stroke-width="1.5"
                                                 stroke="currentColor"
                                                 class="w-6 h-6">
                                                <path stroke-linecap="round"
                                                      stroke-linejoin="round"
                                                      d="M16.862 4.487l1.687-1.688a1.875 1.875 0 112.652 2.652L10.582 16.07a4.5 4.5 0 01-1.897 1.13L6 18l.8-2.685a4.5 4.5 0 011.13-1.897l8.932-8.931zm0 0L19.5 7.125M18 14v4.75A2.25 2.25 0 0115.75 21H5.25A2.25 2.25 0 013 18.75V8.25A2.25 2.25 0 015.25 6H10" />
                                            </svg>
                                        </a>
                                        <a href="#"
                                           class="text-white bg-red-700 hover:bg-red-800 font-medium rounded-lg text-sm px-3 py-1 text-center inline-flex items-center mr-2">
                                            <svg xmlns="http://www.w3.org/2000/svg"
                                                 fill="none"
                                                 viewBox="0 0 24 24"
                                                 stroke-width="1.5"
                                                 stroke="currentColor"
                                                 class="w-6 h-6">
                                                <path stroke-linecap="round"
                                                      stroke-linejoin="round"
                                                      d="M14.74 9l-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 01-2.244 2.077H8.084a2.25 2.25 0 01-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 00-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 013.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 00-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 00-7.5 0" />
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="tab-pane hidden">
                    <h2>Angular</h2>
                    <p>
                        Angular is an application design framework and
                        development platform for creating efficient and
                        sophisticated single-page apps.
                    </p>
                </div>
                <div class="tab-pane hidden">
                    <h2>Ember</h2>
                    <p>
                        Ember.js is a productive, battle-tested JavaScript
                        framework for building modern web applications. It
                        includes everything you need to build rich UIs that
                        work on any device.
                    </p>
                </div>
            </div>
        </div>
        <script>
            const $ = document.querySelector.bind(document);
            const $$ = document.querySelectorAll.bind(document);

            const tabs = $$(".tab-item");
            const panes = $$(".tab-pane");

            const tabActive = $(".tab-item.active");
            const line = $(".tabs .line");

            requestIdleCallback(function () {
                line.style.left = tabActive.offsetLeft + "px";
                line.style.width = tabActive.offsetWidth + "px";
            });

            tabs.forEach((tab, index) => {
                const pane = panes[index];

                tab.onclick = function () {
                    $(".tab-item.active").classList.remove("active");
                    $(".tab-pane.active").classList.remove("active");

                    line.style.left = this.offsetLeft + "px";
                    line.style.width = this.offsetWidth + "px";

                    this.classList.add("active");
                    pane.classList.add("active");
                };
            });
        </script>
    </main>
</body>
