<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/x-icon" href="~/images/image.ico">
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <title>@ViewData["Title"]</title>

</head>
<body>
    @RenderBody()
    @await RenderSectionAsync("Scripts", required: false)

</body>
</html>
