@page "/ExternalLogin/"
@model ExternalLoginModel
@{
ViewData["Title"] = "Đăng ký tài khoản CloudClass";
Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="m-3">
    <h1 class="text-4xl font-extrabold">@ViewData["Title"]</h1>
    <h2 class="mb-4 text-lg font-normal text-gray-500">Liên kết với tài khoản @Model.ProviderDisplayName của bạn tại
        đây.</h2>
</div>
<hr />
<div class="flex flex-col m-6">
    <p id="external-login-description" class="mb-4 text-lg font-normal text-gray-500">
        Bạn đã liên kết <strong>@Model.ProviderDisplayName</strong> với hệ thống CloudClass.
        Xác nhận địa chỉ email dưới đây để hoàn tất đăng ký tài khoản
    </p>
    <div class="mx-6">
        <form asp-page-handler="Confirmation" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-red-600"></div>
            <div class="mb-6">
                <div>
                    <label asp-for="Input.Email" class="block mb-2 text-sm font-medium text-gray-900"></label>
                    <input asp-for="Input.Email"
                        class="w-96 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"
                        autocomplete="email" />
                    <span asp-validation-for="Input.Email" class="text-red-600"></span>
                </div>
                <div>
                    <label asp-for="Input.FirstName" class="block mb-2 text-sm font-medium text-gray-900"></label>
                    <input asp-for="Input.FirstName"
                        class="w-96 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5"/>
                    <span asp-validation-for="Input.FirstName" class="text-red-600"></span>
                </div>
                <div>
                    <label asp-for="Input.LastName" class="block mb-2 text-sm font-medium text-gray-900"></label>
                    <input asp-for="Input.LastName"
                        class="w-96 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5" />
                    <span asp-validation-for="Input.LastName" class="text-red-600"></span>
                </div>
            </div>
            <button type="submit"
                class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Register</button>
        </form>
    </div>
</div>

@section Scripts {
<partial name="_ValidationScriptsPartial" />
}