@page "/ForgotPasswordConfirmation"
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Quên mật khẩu";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";

}
<div class="flex flex-col items-center justify-center h-screen">
    <div class="backdrop-blur-sm rounded-lg bg-gray-600/30 px-3">
        <div class="flex flex-col h-96 justify-center items-center space-y-2">
            <h1 class="text-4xl font-extrabold">Email đã được gửi đến hộp thư của bạn</h1>
            <svg xmlns="http://www.w3.org/2000/svg" class="text-green-600 w-28 h-28" fill="none" viewBox="0 0 24 24" stroke="currentColor" stroke-width="1">
                <path stroke-linecap="round" stroke-linejoin="round" d="M9 12l2 2 4-4m6 2a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg>
            <p class="block mb-2 text-xl font-medium text-gray-900">
                Hãy kiểm tra email của bạn để lấy lại mật khẩu
            </p>
        </div>
    </div>
</div>
<div class="m-3">
</div>
