@page "/ResetPasswordConfirmation/"
@model ResetPasswordConfirmationModel
@{
ViewData["Title"] = "Xác nhận Reset mật khẩu";
Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div class="h-full flex items-center justify-center">
    <div class="m-3 backdrop-blur-sm rounded-lg bg-gray-600/30 w-fit p-3">
        <h1 class="text-4xl font-extrabold">@ViewData["Title"]</h1>
        <p class="block mb-2 text-sm font-medium text-gray-900">
            Mật khẩu của bạn đã được reset. Hãy kiểm tra email để <a asp-page="./Login">đăng nhập lại</a>.
        </p>
    </div>
</div>