@page "/ResetPassword/"
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset mật khẩu Cloudclass";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}
<div class="m-3">
    <h1 class="text-4xl font-extrabold">@ViewData["Title"]</h1>
    <h2 class="mb-4 text-lg font-normal text-gray-500">Đặt lại mật khẩu của bạn tại đây.</h2>
</div>
<hr />
<div class="flex flex-col m-6">
    <div class="col-md-4">
        <form method="post">
            <div class="mb-6">
                <div asp-validation-summary="ModelOnly" class="text-red-600"></div>
            <input asp-for="Input.Code" type="hidden" />
            <div class="">
                <label asp-for="Input.Email" class="block mb-2 text-sm font-medium text-gray-900"></label>
                <input asp-for="Input.Email" class="w-96 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5" autocomplete="username" aria-required="true" />
                <span asp-validation-for="Input.Email" class="text-red-600"></span>
            </div>
            <div class="">
                <label asp-for="Input.Password" class="block mb-2 text-sm font-medium text-gray-900"></label>
                <input asp-for="Input.Password" class="w-96 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.Password" class="text-red-600"></span>
            </div>
            <div class="">
                <label asp-for="Input.ConfirmPassword" class="block mb-2 text-sm font-medium text-gray-900"></label>
                <input asp-for="Input.ConfirmPassword" class="w-96 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block p-2.5" autocomplete="new-password" aria-required="true" />
                <span asp-validation-for="Input.ConfirmPassword" class="text-red-600"></span>
            </div>
            </div>
            <button type="submit" class="text-white bg-gradient-to-r from-cyan-500 to-blue-500 hover:bg-gradient-to-bl focus:ring-4 focus:outline-none focus:ring-cyan-300 dark:focus:ring-cyan-800 font-medium rounded-lg text-sm px-5 py-2.5 text-center mr-2 mb-2">Reset</button>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
